:root {
  --backdrop: #EDF2F7;
  --background1:#ffffff;
  --background2: #F7FAFC;

  --grey1: #E5EBF2;
  --grey2: #BBC6D4;

  --normalText: #2D3748;
  --secondaryText: #4A5568;
  --borderColor: #d7dfe8;
  --boxShadow: 0 0.2rem 0.6rem 0 rgba(0,0,0,0.1);

  --themeColor: #38a169;

  --orange: #ee9338;

  --lightRed: #fdf1f1;
  --red: #f35c5c;

  --lightGreen: #e3feec;
  --green: #38a169;

  --indigo: #8583ed;

  --sidebarWidth: 26rem;
}

body {
  min-height: 100vh;
  font-weight: 400;

  /* Svelte-Select styling */
  --border: 0.1rem solid var(--borderColor);
  --borderFocusColor: var(--themeColor);
  --borderHoverColor: var(--borderColor);
  --inputColor: var(--normalText);
  --borderRadius: 0.5rem;
  --background: var(--background2);
  --disabledBackground: var(--background2);
  --listBackground: var(--background2);
  --itemActiveBackground: var(--background2);

  --itemHoverBG:  var(--backdrop);
  --itemIsActiveBG:  var(--themeColor);
  --itemIsActiveColor: var(--background1);
  --multiClearBG:  var(--grey1);
  --multiClearHoverBG:  var(--background2);
  --multiItemActiveBG:  var(--background2);
  --multiItemBG:  var(--background2);
  --multiItemActiveColor: var(--secondaryText);
  --multiClearFill: var(--secondaryText);
  --multiItemBG: var(--grey1);
  --multiItemActiveBG: var(--grey2);
}

.panel {
  background-color: var(--background1);
  padding: 1.25rem 1.5rem;
  margin: 0 0 1.5rem;
  box-shadow: var(--boxShadow);
  border-radius: 0.5rem;
}

.panelHeader {
  background-color: var(--background2);
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  border-bottom: .1rem solid var(--borderColor);
}

.squircle {
  border-radius: 22.5%;
  overflow: hidden;
}

@supports (mask-size: cover) or (-webkit-mask-size: cover) {
  .squircle {
    border-radius: 0;
    -webkit-mask-image: url(/icon-mask.svg);
    -webkit-mask-size: cover;
    mask-image: url(/icon-mask.svg);
    mask-size: cover;
  }
}

/* .selectContainer {
  margin-bottom: 1.5rem;
} */

.contentWrapper {
  max-width: 115rem;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 8%;
  padding-right: 8%;
}

fieldset {
  margin-bottom: 1.5rem;
  position: relative;
  max-width: 60rem;
}

.compact {
  max-width: 75rem;
}

fieldset input,
fieldset textarea {
  margin-bottom: 0;
}

fieldset.inline {
  display: flex;
  align-items: center;
}

fieldset.inline > label::after {
  content: ":";
}

fieldset.inline > .selectWrapper {
  display: inline-block;
  margin-left: 1.5rem;
  min-width: 24rem;
}

fieldset.inline > input {
  width: unset;
  min-width: 24rem;
  display: inline-block;
  margin-left: 1.5rem;
}

html,
body {
  font-family: "Public Sans", sans-serif !important;
  background-color: var(--backdrop);
}

.button-small {
  height: 2.4rem;
  padding: 0 1.1rem;
  border-radius: 2.4rem;
  font-size: 1.1rem;
}

.button-small .iconWrapper svg{
  max-height: 1.35rem;
  max-width: 1.35rem;
}

.button-small .iconWrapper {
  height: 1.35rem;
  width: 1.35rem;
  margin-right: 0.5rem;
}

.iconWrapper {
  margin-right: 0.5rem;
  display: inline-block;
  height: 1.8rem;
  width: 1.8rem;
  overflow: hidden;
}

.iconWrapper svg {
  max-height: 1.8rem;
  max-width: 1.8rem;
}

.iconWrapper-padded {
  transform: scale(0.8);
}

.iconWrapper-mirrored {
  transform: scaleX(-1);
}

.iconWrapper-padded.iconWrapper-mirrored {
  transform: scale(-0.8, 0.8);
}

.button-clear {
  border: none !important;
}

.button-outline {
  background-color: none;
  border: 0.15rem solid;
}

.button-outline {
  color: var(--themeColor);
}

.button-secondary {
  background-color: var(--secondaryText);
  border-color: var(--secondaryText);
}
.button-outline.button-secondary {
  color: var(--secondaryText);
}

/* Leave this in case theme color changes from green */
.button-create {
  background-color: var(--green);
  border-color: var(--green);
}
.button-outline.button-create {
  color: var(--green);
}

.button-caution {
  background-color: var(--orange);
  border-color: var(--orange);
}
.button-outline.button-caution {
  color: var(--orange);
}

.button-danger {
  background-color: var(--red);
  border-color: var(--red);
}
.button-outline.button-danger {
  color: var(--red);
}

section {
  padding-bottom: 5rem;
  border-bottom: 0.1rem solid var(--borderColor);
  margin-bottom: 5rem;
}

form {
  padding: 0;
  margin: 0;
}
input,
textarea {
  color: var(--normalText);
}

input.solidPlaceholder::placeholder {
  color: var(--normalText);
  opacity: 1;
}

input:hover {
  border-color: var(--borderColor);
}

table {
  font-size: 93%;
}

button:hover,
.button:hover {
  opacity: 0.8;
}

ins {
  color: var(--green);
  background-color: var(--lightGreen);
  padding: 0.25rem;
  border-radius: 0.2rem;
}

del {
  color: var(--red);
  background-color: var(--lightRed);
  padding: 0.25rem;
  border-radius: 0.2rem;
}

/* Loading bar styles */

#nprogress .bar {
  background: var(--themeColor);

  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;

  width: 100%;
  height: 2px;
}

/* Fancy blur effect */

#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px var(--themeColor), 0 0 5px var(--themeColor);
  opacity: 1.0;
  transform: rotate(3deg) translate(0px, -4px);
}

.nprogress-custom-parent {
  overflow: hidden;
  position: relative;
}

.nprogress-custom-parent #nprogress .bar {
  position: absolute;
}

#nprogress {
  pointer-events: none;
}

/* End loading bar styles */
