:root {
  --themeColor: #38a169;

  --orange: #f0922e;
  --red: #ea4b4b;
  --green: var(--themeColor);
  --blue: #3182ce;

  --offwhite1: #fefefe;
  --offwhite2: #fcfcfc;

  --grey1: #eaeef2;
  --grey2: #d7dfe8;
  --grey3: #a0aec0;
  --grey4: #718096;

  --charcoal1: #4a5568;

  /* Svelte-Select styling */
  --border: 0.1rem solid var(--grey2);
  --borderFocusColor: var(--themeColor);
  --borderHoverColor: var(--grey3);
  --inputColor: var(--charcoal1);
  --borderRadius: 0.4rem;
}

.contentWrapper {
  max-width: 120rem;
  width: 100%;
  margin: 0 auto;
  padding: 0 5%;
}

input,
textarea {
  max-width: 48rem;
}

fieldset {
  margin-bottom: 1.5rem;
  position: relative;
}

fieldset input,
fieldset textarea {
  margin-bottom: 0;
}

fieldset.inline {
  display: flex;
  align-items: center;
}

fieldset.inline > label::after {
  content: ":";
}

fieldset.inline > .selectWrapper {
  display: inline-block;
  margin-left: 1.5rem;
  min-width: 24rem;
}

fieldset.inline > input {
  width: unset;
  min-width: 24rem;
  display: inline-block;
  margin-left: 1.5rem;
}

html,
body {
  font-family: "Source Sans Pro", sans-serif !important;
}

.button-small {
  height: 2.4rem;
  padding: 0 1.1rem;
  border-radius: 2.4rem;
  font-size: 1.1rem;
}

.button-small .iconWrapper {
  height: 1.1rem;
  width: 1.1rem;
}

.iconWrapper {
  height: 1.4rem;
  width: 1.4rem;
  margin-right: 0.4rem;
  display: inline-block;
  box-sizing: border-box;
}

.button-outline {
  background-color: none;
  border: 0.2rem solid;
}

.button-outline {
  color: var(--grey4);
}

.button-create {
  background-color: var(--green);
  border-color: var(--green);
}
.button-outline.button-create {
  color: var(--green);
}

.button-caution {
  background-color: var(--orange);
  border-color: var(--orange);
}
.button-outline.button-caution {
  color: var(--orange);
}

.button-danger {
  background-color: var(--red);
  border-color: var(--red);
}
.button-outline.button-danger {
  color: var(--red);
}

section {
  padding-bottom: 4rem;
  border-bottom: 0.1rem solid var(--grey1);
  margin-bottom: 4rem;
}

form {
  padding: 0;
  margin: 0;
}
input,
textarea {
  color: var(--charcoal1);
}
input:hover {
  border-color: var(--grey3);
}

table {
  font-size: 93%;
}

button:hover,
.button:hover {
  opacity: 0.8;
}
