:root {
  --themeColor: #2fb250;
  --grey: #545245;
  --orange: #ff7f00;
  --red: #ff323d;
  --green: var(--themeColor);
  --blue: #02afce;

  /* Svelte-Select styling */
  --border: 0.1rem solid #d1d1d1;
  --borderFocusColor: var(--themeColor);
  --borderHoverColor: #aaa;
  --inputColor: var(--grey);
  --borderRadius: 0.4rem;
}

.contentWrapper {
  max-width: 120rem;
  width: 100%;
  margin: 0 auto;
  padding: 0 5%;
}

fieldset {
  margin-bottom: 1.5rem;
  position: relative;
}

fieldset input,
fieldset textarea {
  margin-bottom: 0;
}

fieldset.inline {
  display: flex;
  align-items: center;
}

fieldset.inline > label::after {
  content: ":";
}

fieldset.inline > .selectWrapper {
  display: inline-block;
  margin-left: 1.5rem;
  min-width: 24rem;
}

fieldset.inline > input {
  width: unset;
  min-width: 24rem;
  display: inline-block;
  margin-left: 1.5rem;
}

html,
body {
  font-family: "Source Sans Pro", sans-serif !important;
}

.button-small {
  height: 2.8rem;
  padding: 0 1.5rem;
  border-radius: 2.8rem;
}

.button-outline {
  background-color: none;
  border: 0.2rem solid;
}

.button-primary {
  background-color: var(--blue);
  border-color: var(--blue);
}
.button-outline.button-primary {
  color: var(--blue);
}

.button-create {
  background-color: var(--green);
  border-color: var(--green);
}
.button-outline.button-create {
  color: var(--green);
}

.button-caution {
  background-color: var(--orange);
  border-color: var(--orange);
}
.button-outline.button-caution {
  color: var(--orange);
}

.button-danger {
  background-color: var(--red);
  border-color: var(--red);
}
.button-outline.button-danger {
  color: var(--red);
}

section {
  padding-bottom: 4rem;
  border-bottom: 0.1rem solid #eee;
  margin-bottom: 4rem;
}

form {
  padding: 0;
  margin: 0;
}
input,
textarea {
  color: var(--grey);
}
input:hover {
  border-color: #aaa;
}

table {
  font-size: 90%;
}

button:hover,
.button:hover {
  opacity: 0.8;
}
