@media (prefers-color-scheme: dark) {
html body {
    --backdrop: #1A202C;
    --background1: #2D3748;
    --background2:#4A5568;

    --grey1: #555F6E;
    --grey2: #687281;

    --lightGreen: #18221c;
    --lightRed: #341818;
  
    --normalText: #F7FAFC;
    --secondaryText: #CBD5E0;
    --borderColor: #596579;
  }
}