@media (prefers-color-scheme: dark) {
html body {
    --backdrop: #1A202C;
    --background1: #2D3748;
    --background2:#4A5568;

    --grey1: #556175;
    --grey2: #68768C;

    --lightGreen: #18221c;
    --lightRed: #341818;

    --normalText: #F7FAFC;
    --secondaryText: #CBD5E0;
    --borderColor: #596579;
  }

  .introjs-tooltip {
    background-color: var(--background1);
  }

  .introjs-arrow[class^='top'], .introjs-arrow[class*=' top']{
    border-bottom-color: var(--background1) !important;
  }

  .introjs-arrow[class^='right'], .introjs-arrow[class*=' right']{
    border-left-color: var(--background1) !important;
  }

  .introjs-arrow[class^='bottom'], .introjs-arrow[class*=' bottom']{
    border-top-color: var(--background1) !important;
  }

  .introjs-arrow[class^='left'], .introjs-arrow[class*=' left']{
    border-right-color: var(--background1) !important;
  }

  .introjs-helperLayer {
    background-color: var(--background2);
  }
}
