@media (prefers-color-scheme: dark) {
html body {
    --backdrop: #1A202C;
    --background1: #2D3748;
    --background2:#4A5568;
  
    --normalText: #F7FAFC;
    --secondaryText: #CBD5E0;
    --borderColor: #596579;
  }
}